.help__items {
    padding: 58px 0 0 88px;
    letter-spacing: 1px;
    height: 398px;
    @include media-mobile {
        padding: 42px 0 0 0px;
    }
}

.help__items >* {
    @include media-mobile {
        margin: 0 auto;
    }
}

.wrapper__help {
    padding-bottom: 42px;
    padding-top: 81px;
    @include media-tablet {
        padding-top: 81px;
        padding-bottom: 210px;
    }
    @include media-mobile {
        max-width: 290px;
        padding-top: 42px;
        padding-bottom: 241px;
    }
}

.help_title {
    text-align: center;
    white-space: pre-line;
    letter-spacing: 0.21rem;
    padding-left: 3px;
    @include media-mobile {
        letter-spacing: 0.15rem;
    }
}