.nav {
  width: 443px;
  padding-top: 15px;
  @include media-mobile {
      display: none;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  @include media-mobile {
      flex-direction: column;
  }
}

.nav__list-item {
  @include font($size: 1.5rem, $height: 2.4rem);
  list-style-type: none;
}

.nav__list-link {
  text-decoration: none;
  color: $color-dark-l;
  transition: 0.5s;

      &--active {
          color: $color-dark-l;
          border-bottom: solid 3px $color-primary;
          padding-bottom: 0.4rem;
      }
      &:hover {
          color: $color-dark-3xl;
      }
}