.bank-card, .contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@font-face {
  font-family: Arial;
  src: url("../../../assets/fonts/ArialRegular.eot");
  src: url("../../../assets/fonts/ArialRegular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/ArialRegular.woff") format("woff"), url("../../../assets/fonts/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Georgia;
  src: url("../../../assets/fonts/Georgia.eot");
  src: url("../../../assets/fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Georgia.woff") format("woff"), url("../../../assets/fonts/Georgia.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  max-width: 1280px;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0 auto;
}

h1 {
  color: #F1CDB3;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

h2 {
  font-family: Georgia;
  color: #FFFFFF;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #545454;
  letter-spacing: 6%;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 6%;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  letter-spacing: 6%;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .wrapper {
    padding: 0 30px 0 30px;
  }
}

.header-notOnly {
  background: url(../../../assets/images/noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header {
  padding-bottom: 48px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 61px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__content {
    padding-top: 31px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__content {
    padding: 30px 52px 0 10px;
  }
}

.layout-2-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.layout-2-column > * {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .layout-2-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .layout-2-column > * {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.layout-3-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout-3-column > * {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .layout-3-column {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.layout-9-column-in-2-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.layout-9-column-in-2-rows > * {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .layout-9-column-in-2-rows {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7vw;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .layout-9-column-in-2-rows {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 8.5vw;
  }
}

.notOnly__content {
  padding-top: 168px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .notOnly__content {
    padding: 0.7% 0px 0 17.5%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .notOnly__content {
    padding-top: 5px;
    text-align: center;
    max-width: 291px;
  }
}

.notOnly__title {
  max-width: 360px;
  padding-bottom: 41px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .notOnly__title {
    max-width: 232px;
    text-align: center;
    letter-spacing: 0.15rem;
    margin-left: 30px;
  }
}

.notOnly__subtitle {
  color: #CDCDCD;
  line-height: 2.4rem;
  max-width: 474px;
  padding-bottom: 41px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .notOnly__subtitle {
    padding-bottom: 42px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .notOnly__subtitle {
    padding-bottom: 43px;
  }
}

.notOnly__button {
  width: 207px;
  cursor: pointer;
}

.notOnly__button:hover {
  background-color: #F6F6F6;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .notOnly__button {
    margin-left: 12.6rem;
  }
}

.notOnly__start-screen-puppy {
  width: 695px;
  height: 732px;
  background-image: url("../../../assets/images/start-screen-puppy.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .notOnly__start-screen-puppy {
    width: 569px;
    height: 593px;
    background-image: url("../../../assets/images/start-screen-puppy-768.png");
    background-size: cover;
    margin: 14% 0 0 19.5%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .notOnly__start-screen-puppy {
    width: 272px;
    height: 272.71px;
    background-size: contain;
    margin: 103px 0 0 29px;
  }
}

.wrapper__notOnly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .wrapper__notOnly {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper__notOnly {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 291px;
  }
}

.about__petsImage {
  width: 300px;
  height: 408px;
  background-image: url("../../../assets/images/about-pets.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 80px 120px 0 175px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__petsImage {
    margin: 3px 120px 0 65px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__petsImage {
    max-width: 260px;
    max-height: 353.6px;
    background-size: contain;
    margin: 41px 0px 0 5px;
  }
}

.wrapper__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0 100px 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .wrapper__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-width: 430px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-width: 270px;
    padding: 0px 0 43px 0;
  }
}

.about__title {
  width: 323px;
  padding-top: 95px;
  letter-spacing: 0.17rem;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__title {
    padding-top: 82px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__title {
    max-width: 270px;
    text-align: center;
    padding-top: 43px;
  }
}

.subtitle {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #4C4C4C;
  padding: 24px 0 0 0;
  width: 437px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .subtitle {
    padding-bottom: 77px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .subtitle {
    max-width: 270px;
    text-align: justify;
  }
}

.about__subtitle1 {
  letter-spacing: 0.005rem;
  padding-bottom: 25px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__subtitle1 {
    padding-bottom: 23px;
  }
}

.about__subtitle2 {
  letter-spacing: 0.008rem;
}

.ourFriends {
  background-color: #F6F6F6;
}

.wrapper__ourFriends {
  padding: 25px 0 180px 0;
  margin-left: auto;
  margin-right: 0;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .wrapper__ourFriends {
    padding: 25px 0 100px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper__ourFriends {
    max-width: 320px;
    padding: 25px 0 42px 0;
    margin: 0 auto;
  }
}

.ourFriends__button {
  width: 261px;
  margin: 60px 0 0 430px;
}

.ourFriends__title {
  text-align: center;
  letter-spacing: 0.2rem;
  padding: 56px 77px 0 0;
  width: 524px;
  margin: 0 auto;
  white-space: pre-line;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .ourFriends__title {
    margin-left: 160px;
    padding-top: 59px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .ourFriends__title {
    letter-spacing: 0.15rem;
    max-width: 321px;
    padding: 18px 0px 0 0px;
  }
}

.ourFriends__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 60px 0 0 65px;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .ourFriends__slider {
    padding: 60px 0 0 94px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .ourFriends__slider {
    padding: 41px 0 0 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .slider__pets {
    margin: 0 auto;
  }
}

.slider__arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  position: absolute;
  top: 25.2rem;
  cursor: pointer;
}

.slider__arrow:hover {
  background-color: #F1CDB3;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .slider__arrow {
    top: 49.6rem;
  }
}

.slider__left-arrow {
  background-image: url("../../../assets/images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  left: -4rem;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .slider__left-arrow {
    left: 3rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .slider__left-arrow {
    left: 6.78rem;
  }
}

.slider__right-arrow {
  background-image: url("../../../assets/images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  right: 4rem;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .slider__right-arrow {
    right: 3rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .slider__right-arrow {
    right: 6.78rem;
  }
}

.ourFriends__button {
  cursor: pointer;
}

.ourFriends__button:hover {
  background-color: #F6F6F6;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .ourFriends__button {
    margin: 59px 0 0 253px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .ourFriends__button {
    margin: 42px 0 0 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .ourFriends__pet1 {
    padding-right: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .ourFriends__pet2 {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .ourFriends__pet3 {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .ourFriends__pet3 {
    display: none;
  }
}

.help__items {
  padding: 58px 0 0 88px;
  letter-spacing: 1px;
  height: 398px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .help__items {
    padding: 42px 0 0 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .help__items > * {
    margin: 0 auto;
  }
}

.wrapper__help {
  padding-bottom: 42px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .wrapper__help {
    padding-top: 81px;
    padding-bottom: 210px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper__help {
    max-width: 290px;
    padding-top: 42px;
    padding-bottom: 241px;
  }
}

.help_title {
  text-align: center;
  white-space: pre-line;
  letter-spacing: 0.21rem;
  padding-left: 3px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .help_title {
    letter-spacing: 0.15rem;
  }
}

.addition {
  background-color: #F6F6F6;
}

.wrapper__addition {
  padding: 81px 0 100px 142px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .wrapper__addition {
    max-width: 505px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 81px 0 90px 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper__addition {
    max-width: 282px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 42px 0 43px 0px;
    margin: 0 auto;
  }
}

.addition__image {
  width: 505px;
  height: 283px;
  background-image: url("../../../assets/images/donation-dog.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .addition__image {
    width: 262px;
    height: 136px;
    background-size: contain;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin: 40px 0 0 10px;
  }
}

.addition__content {
  padding: 1px 161px 0 0px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .addition__content {
    padding: 0px 161px 48px 62px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .addition__content {
    padding: 0;
  }
}

.addition__title {
  padding-bottom: 20px;
  letter-spacing: 0.22rem;
  white-space: pre-line;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .addition__title {
    text-align: center;
    letter-spacing: 0.15rem;
    padding-bottom: 24px;
  }
}

.addition__subtitle {
  font-family: Georgia, serif;
  color: #545454;
  letter-spacing: 0.09rem;
  font-weight: 400;
  padding: 0 0 17px 1px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .addition__subtitle {
    letter-spacing: 0.0056rem;
    padding: 0 0 24px 3px;
  }
}

.addition__note {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.8rem;
  line-height: 1.8rem;
  color: #B2B2B2;
  padding: 21px 0 0 0;
  width: 362px;
  letter-spacing: 0.0023rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .addition__note {
    width: 100%;
    text-align: justify;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer .layout-3-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer .layout-3-column > * {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer .layout-3-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer .layout-3-column > * {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__wrapper {
    max-width: 750px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__wrapper {
    max-width: 320px;
  }
}

.footer {
  background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__contacts {
    padding: 0px 0px 0 25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__contacts {
    width: 78.5%;
    margin: 0 auto;
  }
}

.footer__title {
  color: #FFFFFF;
  letter-spacing: 0.22rem;
  padding: 57px 0 32px 0;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__title {
    padding: 31px 0 32px 0px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__title {
    letter-spacing: 0.15rem;
    padding: 29px 0 33px 0px;
    text-align: center;
  }
}

.footer__title span {
  display: block;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__title span {
    display: inline;
  }
}

.footer__address {
  padding: 0 0 0 59px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__address {
    padding: 10px 0 0 10px;
  }
}

.footer__address h3 {
  width: 91%;
  padding: 30px 0 39px 18px;
}

.footer__image {
  width: 300px;
  height: 310px;
  background-image: url("../../../assets/images/footer-puppy.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  margin-top: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__image {
    margin: 64px 0 0 195px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__image {
    width: 260px;
    height: 269px;
    background-size: contain;
    margin-left: 30px;
  }
}

.footer__icon-phone {
  width: 40px;
  height: 32px;
  background-image: url("../../../assets/images/icons/icon-phone.svg");
}

.footer__icon-email {
  width: 40px;
  height: 32px;
  background-image: url("../../../assets/images/icons/icon-email.svg");
}

.footer__phone {
  padding-left: 6px;
}

.footer__phone h4 {
  padding-left: 20px;
  letter-spacing: 0.123rem;
}

.footer__e-mail {
  padding: 7px 0 40px 0px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__e-mail {
    font-size: 2rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-contact {
    font-size: 2rem;
  }
}

.footer__e-mail h4 {
  letter-spacing: 0.122rem;
  padding-left: 20px;
}

.footer__icon-location {
  width: 22px;
  height: 32px;
  background-image: url("../../../assets/images/icons/pin.svg");
  background-repeat: no-repeat;
  background-position-x: left;
}

.footer__address-subtitle {
  padding-left: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__address-subtitle {
    font-size: 2rem;
  }
}

.footer__address1 {
  padding: 1px 0 32px 0;
  letter-spacing: 0.12rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__address1 {
    padding: 1px 0 40px 0;
  }
}

.footer__address1 h4 span {
  display: block;
}

.footer__address2 {
  letter-spacing: 0.12rem;
}

.humburger:before, .humburger:after, .humburger__line {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #F1CDB3;
  border-radius: 2px;
}

.humburger {
  display: none;
  height: 22px;
  width: 31px;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .humburger {
    display: inline-block;
    margin-top: 20px;
  }
}

.humburger:before {
  top: 0;
  left: 0;
}

.humburger:after {
  bottom: 0;
  left: 0;
}

.humburger__line {
  top: calc(50% - 1px);
  left: 0;
}

.navigation {
  width: 443px;
  padding-top: 15px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__item {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  list-style-type: none;
}

.list__link {
  text-decoration: none;
  color: #CDCDCD;
}

.list__link--active {
  color: #FAFAFA;
  border-bottom: solid 3px #F1CDB3;
  padding-bottom: 0.4rem;
}

.logo__title {
  font-family: Georgia;
  letter-spacing: 0.2rem;
}

.logo__subtitle {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  color: #FFFFFF;
  letter-spacing: 1.3px;
  padding: 2px 0 0 4px;
}

.button {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  color: #292929;
  letter-spacing: 1px;
}

.button--colored {
  background-color: #F1CDB3;
}

.pet {
  background-color: #FAFAFA;
  width: 361px;
  height: 435px;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .pet {
    width: 270px;
    height: 507px;
  }
}

.pet:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.pet__image {
  height: 270px;
  width: 270px;
}

.pet1-img {
  background-image: url("../../../assets/images/pets-katrine.png");
}

.pet2-img {
  background-image: url("../../../assets/images/pet-Jennifer.svg");
}

.pet3-img {
  background-image: url("../../../assets/images/pets-woody.svg");
}

.pet__name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.272rem;
  padding: 30px 0 0 98px;
  letter-spacing: 0.2rem;
  color: #545454;
}

.pet__button {
  background-color: white;
  width: 187px;
  margin: 30px 0 0 40px;
}

.item {
  color: #545454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 113px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item {
    height: 90px;
  }
}

.item__image {
  width: 60px;
  height: 60px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__image {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}

.item__image1 {
  margin-left: 8px;
  background-image: url("../../../assets/images/icons/icon-pet-food.svg");
}

.item__image2 {
  margin-left: 30px;
  background-image: url("../../../assets/images/icons/icon-transportation.svg");
}

.item__title2 {
  margin-left: -21px;
  letter-spacing: 0.12rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__title2 {
    margin-left: 2px;
    letter-spacing: 0.093rem;
  }
}

.item__image3 {
  margin-left: 27px;
  background-image: url("../../../assets/images/icons/icon-toys.svg");
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__image3 {
    margin-left: 1px;
  }
}

.item__title3 {
  margin-left: 35px;
  letter-spacing: 0.15rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__title3 {
    margin-left: 8px;
    letter-spacing: 0.1rem;
  }
}

.item__image4 {
  margin-left: 31px;
  background-image: url("../../../assets/images/icons/icon-bowls-and-cups.svg");
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .item__image4 {
    margin-left: 7px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__image4 {
    margin-left: 35px;
  }
}

.item__title4 {
  margin-left: -15px;
  letter-spacing: 0.1rem;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .item__title4 {
    margin-left: -41px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__title4 {
    margin-left: 3px;
  }
}

.item__image5 {
  margin-left: 56px;
  background-image: url("../../../assets/images/icons/icon-shampoos.svg");
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .item__image5 {
    margin-left: 5px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__image5 {
    margin-left: 10px;
  }
}

.item__title5 {
  margin-left: 34px;
  letter-spacing: 0.1rem;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .item__title5 {
    margin-left: -9px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__title5 {
    margin-left: -3px;
  }
}

.item__image6 {
  margin-left: 53px;
  background-image: url("../../../assets/images/icons/icon-vitamins.svg");
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .item__image6 {
    margin-left: 17px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__image6 {
    margin-left: 12px;
  }
}

.item__title6 {
  margin-left: 39px;
  letter-spacing: 0.13rem;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .item__title6 {
    margin-left: 2px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__title6 {
    margin-left: 4px;
    letter-spacing: 0.1rem;
  }
}

.item__image7 {
  margin-left: 2px;
  background-image: url("../../../assets/images/icons/icon-medicines.svg");
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__image7 {
    margin-left: 14px;
  }
}

.item__title7 {
  margin-left: -18px;
  letter-spacing: 0.11rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__title7 {
    margin-left: 2px;
  }
}

.item__image8 {
  margin-left: -12px;
  background-image: url("../../../assets/images/icons/icon-collars-leashes.svg");
  background-repeat: no-repeat;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__image8 {
    margin-left: 41px;
  }
}

.item__title8 {
  margin-left: -65px;
  letter-spacing: 0.122rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__title8 {
    margin-left: 1px;
  }
}

.item__image9 {
  margin-left: -5px;
  background-image: url("../../../assets/images/icons/icon-sleeping-area.svg");
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__image9 {
    margin-left: 35px;
  }
}

.item__title9 {
  margin-left: -47px;
  letter-spacing: 0.13rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__title9 {
    margin-left: 6px;
  }
}

.bank-card {
  width: 349px;
  height: 43px;
  background-color: #F1CDB3;
  border-radius: 0.9rem;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bank-card {
    max-width: 281px;
  }
}

.bank-card__icon {
  width: 30px;
  height: 23px;
  background-image: url("../../../assets/images/icons/credit-card.svg");
  margin: 0 0 0 15px;
}

.bank-card__bank-link {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.05rem;
  text-decoration: none;
  color: #545454;
  letter-spacing: 0.09rem;
  padding-left: 16px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bank-card__bank-link {
    font-size: 1.5rem;
  }
}

.contacts-block {
  color: #F1CDB3;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */