.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header-notOnly {
  background: url(../../../assets/images/noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header {
  padding-bottom: 50px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding-top: 61px;
}

.notOnly__puppy {
  border: none;
  font-size: 0px;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.layout-2-column > * {
  flex-basis: 50%;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 33.3%;
}

.layout-9-column-in-2-rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-9-column-in-2-rows > * {
  flex-basis: 20%;
}

.notOnly__content {
  padding-top: 168px;
}

.notOnly__title {
  width: 314px;
  padding-bottom: 41px;
}

.notOnly__subtitle {
  color: #CDCDCD;
  letter-spacing: -0.35px;
  line-height: 2.4rem;
  width: 481px;
  padding-bottom: 41px;
}

.about__petsImage {
  width: 300px;
  height: 408px;
  padding: 81px 0 0 175px;
  /*background-image: url('/../../../../assets/images/about-pets.png');
  background-repeat: no-repeat;*/
}

.wrapper__about {
  padding: 0px 0 163px 0;
}

.about__title {
  width: 323px;
  padding-top: 95px;
  letter-spacing: 3.3px;
}

.subtitle {
  color: #4C4C4C;
  letter-spacing: -0.3634px;
  padding: 24px 0 0 0;
  width: 437px;
  line-height: 160%;
}

.about__subtitle1 {
  padding-bottom: 21px;
}

.wrapper__ourFriends {
  padding: 25px 0 645px 0;
  margin-left: auto;
  margin-right: 0;
}

.ourFriends__title {
  text-align: center;
  letter-spacing: 4px;
  padding: 0 70px 0 0;
  width: 490px;
  margin: 0 auto;
  white-space: pre-line;
}

@font-face {
  font-family: "Arial";
  src: url("../../../assets/fonts/ArialRegular.eot");
  src: url("../../../assets/fonts/ArialRegular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/ArialRegular.woff") format("woff"), url("../../../assets/fonts/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Georgia;
  src: url("../../../../assets/fonts/Georgia.eot");
  src: url("../../../../assets/fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../../../../assets/fonts/Georgia.woff") format("woff"), url("../../../../assets/fonts/Georgia.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  max-width: 1280px;
  margin: 0 auto;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  color: #F1CDB3;
}

h2 {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 4.4rem;
  line-height: 130%;
  color: #FFFFFF;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 45.5px;
  color: #545454;
  line-height: 130%;
  letter-spacing: 6%;
}

h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: 6%;
}

h5 {
  font-style: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 6%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1, 5rem;
  line-height: 2, 4rem;
}

.navigation {
  width: 443px;
  padding-top: 15px;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
}

.list__item {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  list-style-type: none;
}

.list__link {
  text-decoration: none;
  color: #CDCDCD;
}

.list__link_active {
  border-bottom: solid 3px #F1CDB3;
}

.logo__title {
  font-family: Georgia;
  letter-spacing: -0.7px;
}

.logo__subtitle {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  color: #FFFFFF;
  letter-spacing: 1.3px;
}

.button {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  width: 207px;
  height: 52px;
  color: #292929;
  letter-spacing: 1px;
}

.button--colored {
  background-color: #F1CDB3;
}

.pet1-img {
  height: 270px;
  width: 270px;
  background-image: url("../../../assets/images/pets-katrine.png");
}

/*# sourceMappingURL=style.css.map */
