.footer {
background: $footer-gradient-background;
}

// .footer__wrapper {
//     padding: 57px 0 0 0;    
// }

.footer__title {
    color: $color-light-xl;
    letter-spacing: 0.22rem;
    padding: 57px 0 32px 0;
}

.footer__title span {
    display: block;
}

.footer__address {
    padding: 0 0 0 38px;
}

.footer__image {
    width: 300px;
    height: 310px;
    background-image: url("../../../assets/images/footer-puppy.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    margin-top: 40px;
}

.footer__icon-phone {
    width: 40px;
    height: 32px;
    background-image: url("../../../assets/images/icons/icon-phone.svg");
}

.footer__icon-email {
    width: 40px;
    height: 32px;
    background-image: url("../../../assets/images/icons/icon-email.svg");
}

.footer__phone h4{
    padding-left: 20px;
    letter-spacing: 0.123rem;
}

.footer__e-mail {
    padding: 7px 0 40px 0px;
}

.footer__e-mail h4 {
    letter-spacing: 0.122rem;
    padding-left: 20px;
}

.footer__icon-location {
    width: 22px;
    height: 32px;
    background-image: url("../../../assets/images/icons/pin.svg");
    background-repeat: no-repeat;
    background-position-x: left;
}

.footer__address-subtitle {
    padding-left: 20px;
}

.footer__address1 {
    padding: 1px 0 32px 0;
    letter-spacing: 0.12rem;
}

.footer__address1 h4 span{
    display: block;
}

.footer__address2 {
    letter-spacing: 0.12rem;
}