.ourFriends {
    background-color: $color-light-l;
}

.wrapper__ourFriends {
    padding: 25px 0 100px 0;
}

.ourFriends__button {
    width: 261px;
    margin: 60px 0 0 430px;
}

.ourFriends__title {
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 5.6rem 0px 0 0;
    width: 524px;
    margin: 0 auto;
    white-space: pre-line;
}

.ourFriends__slider {
    padding: 59px 0 0 0px;
}

.slider__pets-row1 {
    padding-bottom: 30px;
}

.slider__arrows {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 34rem;
    padding: 60px 0 0 0;
    margin: 0 auto;
}

.slider__arrows div {
    text-align: center;
    line-height: 5.2rem;
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;

}

.slider__arrows_left {
    color: $color-dark-s;
    border: 1px solid $color-dark-s;
}

.slider__arrows_number-of-page {
    color: $color-dark-3xl;
    background: $color-primary;
}

.slider__arrows_right {
    color: $color-dark-s;
    border: 1px solid $color-primary;
}