.popap {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $black;
    position: absolute;
    top: -6%;
    right: 135px;
    line-height: 52px;
    width: 952px;
    height: 552px;
    z-index: 5;
}

.popap_close {
    text-align: center;
    width: 52px;
    height: 52px;
    border: 2px solid $color-primary;
    border-radius: 50%;
    margin-left: 890px;
}

.popap_card {
    display: flex;
    width: 900px;
    height: 500px;
    background-color: $color-light-s;
    border-radius: 9px
}

.pet_photo {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.pet-inform {
    color: $black;
    width: 400px;
    height: 500px;
    letter-spacing: 2px;
    padding: 50px 13px 0 30px;
}

.popap__title {
    padding-bottom: 9px;
}

.popap__subtitle {
    opacity: 0.3;
}

.pet-inform h3, h4,h5 {
    color: $black;
}

.popap__description {
    padding: 41px 0 23px 0px;
    line-height: 17px;
    letter-spacing: 1.5px;
}

.popap__list {
    padding-left: 17px;
}

.popap li {
    color: $color-primary
}

.popap li p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $black;
}

.popap li b {
    font-weight: 900;
}