.header {
    padding-bottom: 22px;
    background-color: $color-light-xl;
    @include media-mobile {
        padding: 0px 10px 22px 10px;
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
}

.notOnly__puppy {
    border: none;
    font-size: 0px;
}