.about {
  display: flex;
  justify-content: center;
  gap: 120px;
//   max-width: 1280px;
  margin: 0 auto;
  padding: 80px 0 100px 0;
  background-color: $color-light-xl;
//   padding: 1px 0px 100px 40px;
  @include media-tablet {
    flex-direction: column-reverse;
    gap: 80px;
   width: 437px;
   padding: 0px 0 100px 0;
  }

}

.about__petsImage {
  width: 300px;
  height: 408px;
  background-image: url("../../../assets/images/about-pets.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
//   margin: 80px 120px 0 175px;
  @include media-tablet {
    align-self: center;
    // margin: 79px 0px 0 66px;
  }
}

.about__content {
    align-self: center;
}

.about__title {
  width: 323px;
  max-width: 100%;
//   padding-top: 95px;
  letter-spacing: 2.4px;
  @include media-tablet {
    // width: 74%;
    padding-top: 82px;
  }
}

.about__subtitle {
  @include font(1.5rem, 2.4rem);
  color: $color-dark-xl;
  padding: 23px 0 0 0;
  width: 437px;
  max-width: 100%;
  @include media-tablet {
    // width: 100%;
    padding-top: 23px;
  }
}

.about__subtitle1 {
  letter-spacing: 0.005rem;
  padding-bottom: 25px;
}

.about__subtitle2 {
  letter-spacing: 0.008rem;
}
