.footer {
  background-image: url("./../../../assets/images/footer-gradient-background-grid.png"),
    linear-gradient(90deg, #513d2f, #1a1a1c);
  background-blend-mode: multiply;
}

.footer__wrapper {
    column-gap: 160px;
    @include media-tablet {
        justify-content: center;
         column-gap: 60px;
    }

}

.footer__date {
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    @include media-tablet {
        padding-top: 30px;
    }
}

.footer__contacts {
    gap: 40px;
}

.footer__title {
  color: $color-light-xl;
  letter-spacing: 2px;
}

.footer__title span {
  display: block;
}

.footer__address {
    width: 302px;
    max-width: 100%;
    gap: 32px;
}

.footer__address h3 {
  width: 91%;
}

.footer__image {
  width: 300px;
  height: 310px;
  background-image: url("../../../assets/images/footer-puppy.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  margin-top: 40px;
  @include media-tablet {
    margin-top: 64px;
  }
}

.footer__icon-phone {
  width: 40px;
  height: 32px;
  background-image: url("../../../assets/images/icons/icon-phone.svg");
}

.footer__icon-email {
  width: 40px;
  height: 32px;
  background-image: url("../../../assets/images/icons/icon-email.svg");
}

.footer__phone h4 {
  letter-spacing: 0.123rem;
}

.footer__e-mail h4 {
  letter-spacing: 0.122rem;
}

.footer__icon-location {
  width: 22px;
  height: 32px;
  background-image: url("../../../assets/images/icons/pin.svg");
  background-repeat: no-repeat;
}

.footer__address1 {
  letter-spacing: 1.2px;
}

.footer__address1 h4 span {
  display: block;
}

.footer__address2 {
    letter-spacing: 1.2px;
}
