.footer {
  padding-top: 40px;
  background-image: url("./../../../assets/images/footer-gradient-background-grid.png"),
    linear-gradient(90deg, #513d2f, #1a1a1c);
  background-blend-mode: multiply;
  transition: 0.5s;
  @include media-tablet-large {
    padding-top: 15px;
  }
  @include media-mobile {
    & h4 {
      font-size: 20px;
      line-height: 23px;
    }
    padding-top: 30px;
  }
}

.footer__wrapper {
  justify-content: center;
  column-gap: 160px;
  transition: 0.5s;
  @include media-desctop-small {
    justify-content: space-around;
  }
  @include media-tablet-large {
    column-gap: 60px;
    row-gap: 63px;
  }
  @include media-mobile {
    row-gap: 41px;
    padding: 0 10px;
  }
}

.footer__date {
  display: flex;
  flex-direction: column;
  padding-top: 17px;
  @include media-mobile {
    padding-top: 0px;
    h3 {
      text-align: center;
    }
  }
}

.footer__contacts {
  gap: 39px;
  @include media-mobile {
    align-items: stretch;
  }
}

.footer__title {
  color: $color-light-xl;
  letter-spacing: 2px;
  @include media-mobile {
    letter-spacing: 1.5px;
  }
}

.footer__title span {
  display: block;
  @include media-mobile {
    display: inline;
  }
}

.footer__address {
  width: 302px;
  max-width: 100%;
  gap: 32px;
  @include media-mobile {
    gap: 39px;
    .footer__title {
      letter-spacing: 1.8px;
    }
  }
}

.footer__address h3 {
  width: 91%;
  @include media-mobile {
    width: 100%;
  }
}

.footer__image {
  width: 300px;
  height: 310px;

  background-image: url("../../../assets/images/footer-puppy.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  // @include media-tablet-large {
  //   margin-top: 64px;
  // }
  @include media-mobile {
    width: 260px;
    height: 269px;
    background-size: contain;
    background-position-x: center;
  }
}

.footer__icon-phone {
  width: 40px;
  height: 32px;
  background-image: url("../../../assets/images/icons/icon-phone.svg");
}

.footer__icon-email {
  width: 40px;
  height: 32px;
  background-image: url("../../../assets/images/icons/icon-email.svg");
}

.footer__phone {
  @include media-mobile {
    justify-content: center;
  }
}

.footer__phone h4 {
  letter-spacing: 0.123rem;
}

.footer__e-mail {
  @include media-mobile {
    align-self: center;
  }
}

.footer__e-mail h4 {
  letter-spacing: 0.122rem;
}

.footer__icon-location {
  width: 22px;
  height: 32px;
  background-image: url("../../../assets/images/icons/pin.svg");
  background-repeat: no-repeat;
}

.footer__address1 {
  letter-spacing: 1.2px;
}

.footer__address1 h4 span {
  display: block;
}

.footer__address2 {
  letter-spacing: 1.2px;
}
