.notOnly__content {
  display: flex;
  flex-direction: column;
  gap: 41px;
  padding-top: 165px;
  width: 460px;
  max-width: 100%;
  @include media-tablet-large {
    padding-top: 0px;
    width: 65%;
    align-self: center;
  }
  @include media-mobile {
    padding-top: 0px;
    width: 100%;
    align-self: center;
  }
}

.first-row {
  @include media-mobile {
    text-align: center;
  }
}

.notOnly__title {
  @include media-mobile {
    font-size: clamp(25px, 6vw, 44px);
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 129%;
  }
}

.notOnly__subtitle {
  color: $color-dark-s;
  line-height: 2.4rem;
  @include media-tablet-large {
  }
  @include media-mobile {
    text-align: center;
  }
}

.notOnly__button {
  width: 207px;
  max-width: 100%;
  @include media-tablet-large {
    margin: 0 auto;
  }
  @include media-mobile {
    margin: 0 auto;
  }
}

.notOnly__start-screen-puppy {
  width: 698px;
  max-width: 100%;
  height: 728px;
  background-image: url(../../../assets/images/start-screen-puppy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: 0.5s;
  @include media-tablet-large {
    align-self: end;
    width: 569px;
    max-width: 100%;
    height: 593px;
    background-image: url(../../../assets/images/start-screen-puppy-768.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  @include media-mobile {
    align-self: end;
    width: clamp(569px, 5vw, 260px);
    background-image: url(../../../assets/images/start-screen-puppy-768.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  @include media-mobile-middle {
    height: 450px;
  }
  @include media-mobile-small {
    width: 260px;
    height: 277.71px;
  }
}

.notOnly {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1px;
  transition: 0.5s;
  @include media-tablet-large {
    flex-direction: column;
    gap: 98px;
  }
  @include media-mobile {
    flex-direction: column;
    gap: 100px;
    padding: 0 10px;
  }
}
