.header {
  padding-bottom: 81px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.logo {
  padding-left: 4px;
}

.logo__subtitle {
  padding-top: 3px;
}
