.item {
    color: $color-dark-l;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    justify-content: center;
    height: 113px;
    align-items: center;
    flex-shrink: 0;
    @include media-tablet-large {
        width: 170px;
    }
    @include media-mobile {
        width: 130px;
        height: 87px;
        row-gap: 20px;
    }
}

.item__image {
    width: 60px;
    height: 60px;
    @include media-mobile {
        width: 50px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.item__image1 {
    // margin-left: 8px;
    background-image: url("../../../assets/images/icons/icon-pet-food.svg");
}

.item__image2 {
    // margin-left: 30px;
    background-image: url("../../../assets/images/icons/icon-transportation.svg");
}

.item h4 {
    @include media-mobile {
        line-height: 17px;
    }
}

.item__title2{
    // margin-left: -21px;
    letter-spacing: 0.12rem;
    @include media-mobile {
        // margin-left: 2px;
        letter-spacing: 0.093rem;
    }
}

.item__image3 {
    // margin-left: 27px;
    background-image: url("../../../assets/images/icons/icon-toys.svg");
    @include media-mobile {
        // margin-left: 1px;
    }
}

.item__title3{
    // margin-left: 35px;
    letter-spacing: 0.15rem;
    @include media-mobile {
        // margin-left: 8px;
        letter-spacing: 0.1rem;
    }
}

.item__image4 {
    background-image: url("../../../assets/images/icons/icon-bowls-and-cups.svg");
}

.item__title4{
    letter-spacing: 0.1rem;
}


.item__image5 {
    background-image: url("../../../assets/images/icons/icon-shampoos.svg");
}

.item__title5{
    letter-spacing: 0.1rem;
}

.item__image6 {
    background-image: url("../../../assets/images/icons/icon-vitamins.svg");
}

.item__title6{
    letter-spacing: 0.13rem;
    @include media-mobile {
        letter-spacing: 0.1rem;
    }
}

.item__image7 {
    background-image: url("../../../assets/images/icons/icon-medicines.svg");
}

.item__title7{
    letter-spacing: 0.11rem;
}

.item__image8 {
    background-image: url("../../../assets/images/icons/icon-collars-leashes.svg");
    background-repeat: no-repeat;
}

.item__title8{
    letter-spacing: 0.122rem;
    @include media-mobile {
        letter-spacing: 0.1rem;
    }
}

.item__image9 {
    background-image: url("../../../assets/images/icons/icon-sleeping-area.svg");
}

.item__title9{
    letter-spacing: 0.13rem;
    @include media-mobile {
        letter-spacing: 0.1rem;
    }
}