.nav {
  width: 443px;
  padding-top: 15px;
  @include media-mobile {
    // display: none;
    position: absolute;
    top: 0;
    right: 0px;
    width: 320px;
    height: 823px;
    background-color: #292929;
    text-align: center;
    padding-top: 249px;
    // -webkit-transform: translateX(100%);
    // transform: translateX(100%);
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  @include media-mobile {
    flex-direction: column;
    gap: 41px;
  }
}

.nav__list-item {
  @include font($size: 1.5rem, $height: 2.4rem);
  list-style-type: none;
  @include media-mobile {
    line-height: 51px;
    font-size: 32px;
  }
}

.nav__list-link {
  text-decoration: none;
  color: $color-dark-s;
  transition: 0.5s;

  &--active {
    color: $color-light-s;
    border-bottom: solid 3px $color-primary;
    padding-bottom: 6px;
  }
  &:hover {
    color: $color-light-s;
  }
}
