.nav {
    position: relative;
    width: 443px;
    padding-top: 15px;
    @include media-mobile {
        position: fixed;
        top: 0;
        right: 0;
        width: 320px;
        min-height: 30vh;
        height: 100vh;
        background-color: $color-dark-3xl;
        padding-top: 0px;
        text-align: center;
        // padding-top: 249px;
       align-items: center;
       align-content: center;
        transform: translateX(100%);
        transition: 1s;
        &.hidden {
            visibility: hidden;
        }
        &.slide-in {
            animation: slide-in 1s forwards;
            @keyframes slide-in {
                100% {
                    transform: translateX(0); }
            }
        }
        &.slide-out {
            animation: slide-out 1s forwards;
            @keyframes slide-out {
                0% { transform: translateX(0%); }
                100% {
                    transform: translateX(100%); }
            }
        }
    }
}

.nav__list {
    display: flex;
    justify-content: space-between;
    @include media-mobile {
        flex-direction: column;
        gap: 41px;
    }
}

.nav__list-item {
    @include font($size: 1.5rem, $height: 2.4rem);
    list-style-type: none;
    @include media-mobile {
        line-height: 51px;
        font-size: 32px;
    }

}

.nav__list-link {
  text-decoration: none;
  color: $color-dark-s;
  transition: 0.5s;


        &--active {
            color: $color-light-s;
            border-bottom: solid 3px $color-primary;
            padding-bottom: 6px;
        }
        &:hover {
            color: $color-light-s;
        }
}

