.navigation {
    width: 443px;
    padding-top: 15px;
    @include media-mobile {
        position: absolute;
        top: 0;
        right: 0px;
        width: 320px;
        height: 823px;
        background-color: $color-dark-3xl;
        text-align: center;
        padding-top: 232px;
        transform: translateX(100%);
        &.slide-in {
            animation: slide-in 1s forwards;
            @keyframes slide-in {
                100% { transform: translateX(0); }
            }
        }
        &.slide-out {
            animation: slide-out 1s forwards;
            @keyframes slide-out {
                0% { transform: translateX(0%); }
                100% { transform: translateX(100%); }
            }
        }
    }
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    @include media-mobile {
        flex-direction: column;
    }
}

.list__item {
    @include font($size: 1.5rem, $height: 2.4rem);
    list-style-type: none;
    @include media-mobile {
        @include font (3.2rem, 9.1rem);
    }
}

.list__link {
    text-decoration: none;
    color: $color-dark-s;
        &--active {
            color: $color-light-s;
            border-bottom: solid 3px $color-primary;
            padding-bottom: 0.4rem;
        }
}