.pet {
    // position: relative;
    // display: none;
    // display: inline-block;
    background-color: $color-light-s;
    width: 269px;
    height: 435px;
    margin-right: 91px;
    // animation: 0.5s ease-in-out;
    cursor: pointer;
    @include media-mobile {
        width: 270px;
        height: 507px;
    }
}

.pet:hover {
    background-color: $color-light-xl;
}

.pet__image {
    height: 270px;
    width: 270px;
}

.pet1-img {
    background-image: url("../../../assets/images/pets-katrine.png");
}

.pet2-img{
    background-image: url("../../../assets/images/pet-Jennifer.svg");
}

.pet3-img{
    background-image: url("../../../assets/images/pets-woody.svg");
}

.pet__name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    @include font(2rem, 2.272rem);
    padding: 30px 0 0 98px;
    letter-spacing: 0.2rem;
    color: $color-dark-l;
}

.pet__button {
    background-color: white;
    width: 187px;
    margin: 30px 0 0 40px;
}