.about__petsImage {
    width: 300px;
    height: 408px;
    padding: 81px 0 0 175px;
    /*background-image: url('/../../../../assets/images/about-pets.png');
    background-repeat: no-repeat;*/
}

.wrapper__about {
    padding: 0px 0 163px 0;
}

.about__title {
    width: 323px;
    padding-top: 95px;
    letter-spacing: 3.3px;
}

.subtitle {
    color: $color-dark-xl;
    letter-spacing: -0.3634px;
    padding: 24px 0 0 0;
    width: 437px;
    line-height: 160%;
}

.about__subtitle1 {
    padding-bottom: 21px;
}