.about__petsImage {
    width: 300px;
    height: 408px;
    background-image: url("../../../assets/images/about-pets.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 80px 120px 0 175px;
    @include media-tablet {
        margin: 0 0 0 234px;
    }
}

.wrapper__about {
    display: flex;
    padding: 0px 0 100px 0;
    justify-content: flex-start;
    @include media-tablet {
        flex-direction: column-reverse;
    }
}

.about__content {
    @include media-tablet{
    margin-left: 170px;
    }
}

.about__title {
    width: 323px;
    padding-top: 95px;
    letter-spacing: 0.17rem;
    @include media-tablet {
        padding-top: 82px;
    }
}

.subtitle {
    @include font (1.5rem, 2.4rem);
    color: $color-dark-xl;
    padding: 24px 0 0 0;
    width: 437px;
    @include media-tablet {
        padding-bottom: 77px;
    }
}

.about__subtitle1 {
    letter-spacing: 0.005rem;
    padding-bottom: 25px;
}

.about__subtitle2 {
    letter-spacing: 0.008rem;
}