.about__petsImage {
    width: 300px;
    height: 408px;
    background-image: url("../../../assets/images/about-pets.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 80px 120px 0 175px;
    @include media-tablet {
        margin: 3px 120px 0 65px;
    }
    @include media-mobile {
        max-width: 260px;
        max-height: 353.6px;
        background-size: contain;
        margin: 41px 0px 0 5px;
    }
}

.wrapper__about {
    display: flex;
    padding: 0px 0 100px 0;
    justify-content: flex-start;
    @include media-tablet {
        flex-direction: column-reverse;
        max-width: 430px;
    }
    @include media-mobile {
        flex-direction: column-reverse;
        max-width: 270px;
        padding: 0px 0 43px 0;
    }
}


.about__title {
    width: 323px;
    padding-top: 95px;
    letter-spacing: 0.17rem;
    @include media-tablet {
        padding-top: 82px;
    }
    @include media-mobile {
        max-width: 270px;
        text-align: center;
        padding-top: 43px;
    }
}

.subtitle {
    @include font (1.5rem, 2.4rem);
    color: $color-dark-xl;
    padding: 24px 0 0 0;
    width: 437px;
    @include media-tablet {
        padding-bottom: 77px;
    }
    @include media-mobile {
        max-width: 270px;
        text-align: justify;
    }
}

.about__subtitle1 {
    letter-spacing: 0.005rem;
    padding-bottom: 25px;
    @include media-mobile {
        padding-bottom: 23px;
    }
}

.about__subtitle2 {
    letter-spacing: 0.008rem;
}