.header-notOnly {
    background: url(../../../assets/images/noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header {
    height: 122 px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding: 60px 0px 0 40px;
}