.notOnly__content {
    padding-top: 168px;
}

.notOnly__title {
    width: 314px;
    padding-bottom: 41px;
}

.notOnly__subtitle {
    color: $color-dark-s;
    letter-spacing: -0.35px;
    line-height: 2.4rem;
    width: 481px;
    padding-bottom: 41px;
}