.notOnly__content {
    padding-top: 169px;
    @include media-laptop {
        padding: 5px 0px 0 124px;
    }
}

.notOnly__title {
    width: 360px;
    padding-bottom: 41px;
}

.notOnly__subtitle {
    color: $color-dark-s;
    line-height: 2.4rem;
    width: 474px;
    padding-bottom: 41px;
    @include media-laptop {
        padding-bottom: 42px;
    }
}

.notOnly__button {
    width: 207px;
    cursor: pointer;
        &:hover {
            background-color: $color-light-l;
        }
        @include media-laptop {
            margin-left: 12.6rem;
        }
}

.wrapper__notOnly {
    @include media-laptop {
        display: flex;
        flex-direction: column;
    }
}