.notOnly__content {
    padding-top: 169px;
}

.notOnly__title {
    width: 360px;
    padding-bottom: 41px;
}

.notOnly__subtitle {
    color: $color-dark-s;
    letter-spacing: -0.042rem;
    line-height: 2.4rem;
    width: 475px;
    padding-bottom: 41px;
}

.notOnly__button {
    width: 207px;
    cursor: pointer;
}

.notOnly__button:hover {
        background-color: $color-light-l;
    }