.ourFriends {
    background-color: $color-light-l;
}

.wrapper__ourFriends {
    padding: 25px 0 180px 0;
    margin-left: auto;
    margin-right: 0;
    @include media-tablet {
        padding: 25px 0 100px 0;
    }
    @include media-mobile {
        padding: 25px 0 42px 0;
    }
}

.ourFriends__button {
    width: 261px;
    margin: 60px 0 0 430px;
}

.ourFriends__title {
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 56px 77px 0 0;
    width: 524px;
    margin: 0 auto;
    white-space: pre-line;
    @include media-tablet {
        margin-left: 160px;
        padding-top: 59px;
    }
    @include media-mobile {
        letter-spacing: 0.15rem;
        max-width: 321px;
        padding: 18px 0px 0 0px;
    }
}

.ourFriends__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 60px 0 0 65px;
    position: relative;
    @include media-tablet {
        padding: 60px 0 0 94px;
    }
    @include media-mobile {
        padding: 41px 0 0 0px;
    }
}

.slider__pets {
    @include media-mobile {
        margin: 0 auto;
    }
}

.slider__arrow {
    width: 52px;
    height: 52px;
    border: 2px solid $color-primary;
    border-radius: 50%;
    position: absolute;
    top: 25.2rem;
    cursor: pointer;
        &:hover {
            background-color: $color-primary;
        }
    @include media-mobile {
        top: 49.6rem;
    }
}

.slider__left-arrow {
    background-image: url("../../../assets/images/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: scaleX(-1);
    left: -4rem;
    @include media-tablet {
        left: 3rem;
    }
    @include media-mobile {
        left: 6.78rem;
    }
}

.slider__right-arrow {
    background-image: url("../../../assets/images/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    right: 4rem;
    @include media-tablet {
        right: 3rem;
    }
    @include media-mobile {
        right: 6.78rem;
    }
}

.ourFriends__button {
    cursor: pointer;
        &:hover {
            background-color: $color-light-l;
        }
    @include media-tablet {
        margin: 59px 0 0 253px;
    }
    @include media-mobile {
        margin: 42px 0 0 30px;
    }
}

.ourFriends__pet1 {
    @include media-tablet {
        padding-right: 40px;
    }
    // @include media-mobile {
    //     width: 270px;
    //     height: 507px;
    // }
}

.ourFriends__pet2{
    @include media-mobile {
        display: none;
    }
}

.ourFriends__pet3 {
    @include media-tablet {
        display: none;
    }
    @include media-mobile {
        display: none;
    }
}