.wrapper__ourFriends {
    padding: 25px 0 645px 0;
    margin-left: auto;
    margin-right: 0;
}

.ourFriends__title {
    text-align: center;
    letter-spacing: 4px;
    padding: 0 70px 0 0;
    width: 490px;
    margin: 0 auto;
    white-space: pre-line;
}