.footer .layout-3-column { 
    @include media-tablet {
        @include columns($width: auto);
        justify-content: flex-start;
    }
    @include media-mobile {
        @include columns($width: auto);
        justify-content: flex-start;
    }
}

.footer__wrapper {
    @include media-tablet {
        max-width: 690px;
    }
    @include media-mobile {
        max-width: 320px;
    }
}

.footer {
    background: $footer-gradient-background;
}

.footer__contacts {
    @include media-tablet {
        padding: 0px 0px 0 25px;
    }
    @include media-mobile {
        width: 78.5%;
        margin: 0 auto;
    }
}

.footer__title {
    color: $color-light-xl;
    letter-spacing: 0.22rem;
    padding: 57px 0 32px 0;
    @include media-tablet {
        padding: 31px 0 32px 0px;
    }
    @include media-mobile {
        letter-spacing: 0.15rem;
        padding: 29px 0 33px 0px;
        text-align: center;
    }
}

.footer__title span {
    display: block;
    @include media-mobile {
        display: inline;
    }
}

.footer__address {
    padding: 0 0 0 59px;
    @include media-mobile {
        padding: 10px 0 0 10px;
    }
}

.footer__address h3 {
    width: 91%;
    padding: 30px 0 39px 18px;
    @include media-tablet {
        padding: 31px 0 31px 0px;
    }
}

.footer__image {
    width: 300px;
    height: 310px;
    background-image: url("../../../assets/images/footer-puppy.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    margin-top: 40px;
    @include media-tablet {
        margin: 64px 0 0 195px;
    }
    @include media-mobile {
        width: 260px;
        height: 269px;
        background-size: contain;
        margin-left: 30px;
    }
}

.footer__icon-phone {
    width: 40px;
    height: 32px;
    background-image: url("../../../assets/images/icons/icon-phone.svg");
}

.footer__icon-email {
    width: 40px;
    height: 32px;
    background-image: url("../../../assets/images/icons/icon-email.svg");
}

.footer__phone {
    padding-left: 6px;
    @include media-tablet {
        padding: 0;
    }
}

.footer__phone h4{
    padding-left: 20px;
    letter-spacing: 0.123rem;
}

.footer__e-mail {
    padding: 7px 0 40px 0px;
    @include media-mobile {
        font-size:  2rem;
    }
}

.footer-contact {
    @include media-mobile {
        font-size:  2rem;
    }
}

.footer__e-mail h4 {
    letter-spacing: 0.122rem;
    padding-left: 20px;
}

.footer__icon-location {
    width: 22px;
    height: 32px;
    background-image: url("../../../assets/images/icons/pin.svg");
    background-repeat: no-repeat;
    background-position-x: left;
}

.footer__address-subtitle {
    padding-left: 20px;
    @include media-mobile {
        font-size: 2rem;
    }
}

.footer__address1 {
    padding: 1px 0 32px 0;
    letter-spacing: 0.12rem;
    @include media-mobile {
        padding: 1px 0 40px 0;
    }
}

.footer__address1 h4 span{
    display: block;
}

.footer__address2 {
    letter-spacing: 0.12rem;
}

.footer h4 {
    font-size: 2rem;
}