.contacts-block, .bank-card {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
}

.nav {
  width: 443px;
  padding-top: 15px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav {
    position: absolute;
    top: 0;
    right: 0px;
    width: 320px;
    min-height: 823px;
    height: 100%;
    background-color: #292929;
    text-align: center;
    padding-top: 249px;
    transform: translateX(100%);
    transition: 1s;
  }
  .nav.slide-in {
    animation: slide-in 1s forwards;
  }
  @keyframes slide-in {
    100% {
      transform: translateX(0);
    }
  }
  .nav.slide-out {
    animation: slide-out 1s forwards;
  }
  @keyframes slide-out {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav__list {
    flex-direction: column;
    gap: 41px;
  }
}

.nav__list-item {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  list-style-type: none;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav__list-item {
    line-height: 51px;
    font-size: 32px;
  }
}

.nav__list-link {
  text-decoration: none;
  color: #CDCDCD;
  transition: 0.5s;
}
.nav__list-link--active {
  color: #FAFAFA;
  border-bottom: solid 3px #F1CDB3;
  padding-bottom: 6px;
}
.nav__list-link:hover {
  color: #FAFAFA;
}

.header {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 85px;
}
@media screen and (min-width: 1001px) and (max-width: 1279px) {
  .header {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .header {
    padding-bottom: 57px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding-bottom: 57px;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 85px;
}
@media screen and (min-width: 1001px) and (max-width: 1279px) {
  .header__content {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .header__content {
    padding-bottom: 57px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__content {
    padding-bottom: 55px;
  }
}

.logo {
  padding-left: 4px;
  text-decoration: none;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo {
    padding-left: 0px;
  }
}

.logo__title {
  letter-spacing: 1.3px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo__title {
    letter-spacing: 1.9px;
  }
}

.logo__subtitle {
  padding-top: 3px;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: auto;
  color: #FFFFFF;
  letter-spacing: 1.2px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo__subtitle {
    padding: 4px 0 0 4px;
    letter-spacing: 1.3px;
  }
}

.button {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 52px;
  border: none;
  border-radius: 100px;
  color: #292929;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
}
.button--bordered {
  border: 2px solid #f1cdb3;
  background-color: #FAFAFA;
}
.button--colored {
  background-color: #F1CDB3;
}
.button:hover {
  background-color: #FDDCC4;
}
.button a {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #292929;
  text-decoration: none;
}

.div-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pet {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-color: #FAFAFA;
  width: 269px;
  height: 435px;
  cursor: pointer;
  transition: 0.5s;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pet {
    width: 270px;
    height: 435px;
  }
}

.pet:hover {
  background-color: #FFFFFF;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pet:hover .pet__button {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}

.pet__image {
  height: 270px;
  width: 270px;
}

.pet1-img {
  background-image: url("../../../assets/images/pets-katrine.png");
}

.pet2-img {
  background-image: url("../../../assets/images/pet-Jennifer.svg");
}

.pet3-img {
  background-image: url("../../../assets/images/pets-woody.svg");
}

.pet__name {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.272rem;
  letter-spacing: 1px;
  color: #545454;
}

.pet__button {
  width: 187px;
}

.item {
  color: #545454;
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  justify-content: center;
  height: 113px;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .item {
    width: 170px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .item {
    width: 130px;
    height: 87px;
    row-gap: 20px;
  }
}

.item__image {
  width: 60px;
  height: 60px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__image {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.item__image1 {
  background-image: url("../../../assets/images/icons/icon-pet-food.svg");
}

.item__image2 {
  background-image: url("../../../assets/images/icons/icon-transportation.svg");
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .item h4 {
    line-height: 17px;
  }
}

.item__title2 {
  letter-spacing: 0.12rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__title2 {
    letter-spacing: 0.093rem;
  }
}

.item__image3 {
  background-image: url("../../../assets/images/icons/icon-toys.svg");
}
.item__title3 {
  letter-spacing: 0.15rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__title3 {
    letter-spacing: 0.1rem;
  }
}

.item__image4 {
  background-image: url("../../../assets/images/icons/icon-bowls-and-cups.svg");
}

.item__title4 {
  letter-spacing: 0.1rem;
}

.item__image5 {
  background-image: url("../../../assets/images/icons/icon-shampoos.svg");
}

.item__title5 {
  letter-spacing: 0.1rem;
}

.item__image6 {
  background-image: url("../../../assets/images/icons/icon-vitamins.svg");
}

.item__title6 {
  letter-spacing: 0.13rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__title6 {
    letter-spacing: 0.1rem;
  }
}

.item__image7 {
  background-image: url("../../../assets/images/icons/icon-medicines.svg");
}

.item__title7 {
  letter-spacing: 0.11rem;
}

.item__image8 {
  background-image: url("../../../assets/images/icons/icon-collars-leashes.svg");
  background-repeat: no-repeat;
}

.item__title8 {
  letter-spacing: 0.122rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__title8 {
    letter-spacing: 0.1rem;
  }
}

.item__image9 {
  background-image: url("../../../assets/images/icons/icon-sleeping-area.svg");
}

.item__title9 {
  letter-spacing: 0.13rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .item__title9 {
    letter-spacing: 0.1rem;
  }
}

.bank-card {
  width: 349px;
  height: 43px;
  background-color: #F1CDB3;
  border-radius: 0.9rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .bank-card {
    max-width: 281px;
    margin: 0 auto;
  }
}

.bank-card__icon {
  width: 30px;
  height: 23px;
  background-image: url("../../../assets/images/icons/credit-card.svg");
  margin: 0 0 0 15px;
}

.bank-card__bank-link {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2.05rem;
  text-decoration: none;
  color: #545454;
  letter-spacing: 0.09rem;
  padding-left: 16px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .bank-card__bank-link {
    font-size: 1.5rem;
  }
}

.contacts-block {
  color: #F1CDB3;
  text-decoration: none;
  gap: 20px;
}

.humburger {
  display: none;
  top: 17px;
  height: 22px;
  width: 30px;
  position: relative;
  transition: 0.5s;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .humburger {
    z-index: 1;
    display: inline-block;
    z-index: 1;
  }
}

.humburger__line {
  top: calc(50% - 1px);
  left: 0;
}

.humburger:before, .humburger:after, .humburger__line {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #F1CDB3;
  border-radius: 2px;
}

.humburger:after {
  bottom: 0;
  left: 0;
}

.burger_reverse {
  transform: rotate(-90deg);
  z-index: 1;
}

@font-face {
  font-family: Arial;
  src: url("../../../assets/fonts/ArialRegular.eot");
  src: url("../../../assets/fonts/ArialRegular.eot?#iefix") format("embedded-opentype"), url("../../../../assets/fonts/ArialRegular.woff") format("woff"), url("../../../assets/fonts/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Georgia;
  src: url("../../../assets/fonts/Georgia.eot");
  src: url("../../../assets/fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Georgia.woff") format("woff"), url("../../../assets/fonts/Georgia.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  overflow: visible;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  color: #F1CDB3;
}

h2 {
  font-family: Georgia;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 57.2px;
  color: #FFFFFF;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #545454;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 45.5px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  h3 {
    line-height: 32.5px;
    font-size: 2.5rem;
  }
}

h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  letter-spacing: 6%;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.shadow_on {
  position: absolute;
  width: 100%;
  min-height: 823px;
  height: 100%;
  content: "";
  background-color: rgba(41, 41, 41, 0.6);
}

.header-notOnly {
  background-image: url("./../../../assets/images/start-screen-background-grid.jpg"), linear-gradient(35deg, #5B483A, #262425);
  background-blend-mode: multiply;
}

.wrapper {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px 0 40px;
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .wrapper {
    padding: 0 30px 0 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper {
    padding: 0 20px 0 20px;
  }
}

.notOnly__content {
  display: flex;
  flex-direction: column;
  gap: 41px;
  padding-top: 165px;
  width: 460px;
  max-width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .notOnly__content {
    padding-top: 0px;
    width: 65%;
    align-self: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .notOnly__content {
    padding-top: 0px;
    width: 100%;
    align-self: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .first-row {
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .notOnly__title {
    font-size: clamp(25px, 6vw, 44px);
    text-align: center;
    letter-spacing: 1.5px;
    line-height: 129%;
  }
}

.notOnly__subtitle {
  color: #CDCDCD;
  line-height: 2.4rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .notOnly__subtitle {
    text-align: center;
  }
}

.notOnly__button {
  width: 207px;
  max-width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .notOnly__button {
    margin: 0 auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .notOnly__button {
    margin: 0 auto;
  }
}

.notOnly__start-screen-puppy {
  width: 698px;
  max-width: 100%;
  height: 728px;
  background-image: url(../../../assets/images/start-screen-puppy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: 0.5s;
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .notOnly__start-screen-puppy {
    align-self: end;
    width: 569px;
    max-width: 100%;
    height: 593px;
    background-image: url(../../../assets/images/start-screen-puppy-768.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .notOnly__start-screen-puppy {
    align-self: end;
    width: clamp(569px, 5vw, 260px);
    background-image: url(../../../assets/images/start-screen-puppy-768.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media screen and (min-width: 450px) and (max-width: 767px) {
  .notOnly__start-screen-puppy {
    height: 450px;
  }
}
@media screen and (min-width: 320px) and (max-width: 449px) {
  .notOnly__start-screen-puppy {
    width: 260px;
    height: 277.71px;
  }
}

.notOnly {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1px;
  transition: 0.5s;
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .notOnly {
    flex-direction: column;
    gap: 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .notOnly {
    flex-direction: column;
    gap: 100px;
    padding: 0 10px;
  }
}

.about {
  display: flex;
  justify-content: center;
  gap: 120px;
  padding: 80px 0 100px 0;
  background-color: #FFFFFF;
  transition: 0.5s;
}
@media screen and (min-width: 768px) and (max-width: 890px) {
  .about {
    flex-direction: column-reverse;
    gap: 80px;
    padding: 0px 169px 99px 169px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about {
    flex-direction: column-reverse;
    gap: 41px;
    padding: 43px 15px 42px 15px;
  }
}

.about__petsImage {
  width: 300px;
  height: 408px;
  background-image: url("../../../assets/images/about-pets.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) and (max-width: 890px) {
  .about__petsImage {
    align-self: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__petsImage {
    align-self: center;
    width: 260px;
    max-width: 100%;
    height: 353.6px;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: center;
  width: 430px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__content {
    gap: 22px;
    width: 100%;
  }
}

.about__title {
  width: 96%;
  letter-spacing: 2.2px;
}
@media screen and (min-width: 768px) and (max-width: 890px) {
  .about__title {
    width: 96%;
    padding-top: 80px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__title {
    text-align: center;
    width: 100%;
    line-height: 32px;
    letter-spacing: 1.5px;
    padding-bottom: 3px;
  }
}

.about__subtitle {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #4C4C4C;
}
@media screen and (min-width: 768px) and (max-width: 890px) {
  .about__subtitle {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__subtitle {
    text-align: justify;
    width: 100%;
    padding: 0 10px;
  }
}

.ourFriends {
  padding: 11px 0 100px 0;
  position: relative;
  background-color: #F6F6F6;
  transition: 0.5s;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .ourFriends {
    padding: 11px 0 42px 0;
  }
}

.ourFriends__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 68px 0 0px 0px;
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .ourFriends__wrapper {
    padding: 71px 0 0 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 890px) {
  .ourFriends__wrapper {
    padding: 71px 0 0 0;
    gap: 59px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .ourFriends__wrapper {
    gap: 42px;
    padding-top: 31px;
  }
}

.ourFriends__button {
  width: 261px;
  margin: auto;
}

.ourFriends__title {
  text-align: center;
  letter-spacing: 0.2rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .ourFriends__title {
    line-height: 32.5px;
    letter-spacing: 1.5px;
  }
}

.ourFriends__slider {
  display: flex;
  gap: 55px;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 769px) and (max-width: 1279px) {
  .ourFriends__slider {
    gap: 0px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .ourFriends__slider {
    gap: 13px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .ourFriends__slider {
    gap: 140px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 321px) and (max-width: 550px) {
  .ourFriends__slider {
    row-gap: 19px;
    column-gap: 40%;
  }
}
@media screen and (max-width: 320px) {
  .ourFriends__slider {
    row-gap: 19px;
    column-gap: 29%;
  }
}

.slider_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

.block {
  position: relative;
  display: none;
  animation: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.next,
.active {
  display: flex;
  gap: 90px;
}
@media screen and (max-width: 1279px) {
  .next,
  .active {
    gap: 1.03%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .next,
  .active {
    gap: 40px;
  }
}
.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
.right_block {
  transform: translateX(100%);
}

.left_block {
  transform: translateX(-100%);
}

.to_left {
  animation: toLeft 1s forwards;
}
@keyframes toLeft {
  100% {
    transform: translateX(0%);
  }
}

.to_right {
  animation: toRight 1s forwards;
}
@keyframes toRight {
  100% {
    transform: translateX(0%);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .slider__pets {
    order: 1;
  }
}

.slider__arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  top: 25.2rem;
  cursor: pointer;
  transition: 0.5s;
}
.slider__arrow:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .slider__arrow {
    top: 49.6rem;
  }
}

.slider__left-arrow {
  background-image: url("../../../assets/images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(-1);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .slider__left-arrow {
    order: 2;
  }
}

.slider__right-arrow {
  background-image: url("../../../assets/images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .slider__right-arrow {
    order: 3;
  }
}

@media screen and (min-width: 320px) and (max-width: 550px) {
  .ourFriends__pet2 {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .ourFriends__pet3 {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .ourFriends__pet3 {
    display: none;
  }
}

.help__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 1026px;
  max-width: 100%;
  padding: 58px 0 0 0px;
  letter-spacing: 1px;
  column-gap: 120px;
  row-gap: 55px;
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .help__items {
    column-gap: 60px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .help__items {
    justify-content: flex-start;
    gap: 30px;
    padding-top: 41px;
  }
}

.help__wrapper {
  padding-bottom: 100px;
  padding-top: 81px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .help__wrapper {
    padding: 42px 15px 42px 15px;
  }
}

.help_title {
  text-align: center;
  white-space: pre-line;
  letter-spacing: 0.21rem;
  padding-left: 3px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .help_title {
    letter-spacing: 1.5px;
  }
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.layout-2-column > * {
  flex-basis: 49.5%;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: auto;
}

.addition {
  background-color: #F6F6F6;
}

.wrapper__addition {
  display: flex;
  width: 915px;
  margin: 0 auto;
  gap: 30px;
  padding: 80px 0 99px 0px;
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .wrapper__addition {
    align-items: center;
    flex-direction: column-reverse;
    row-gap: 60px;
    padding: 80px 0 91px 0px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper__addition {
    align-items: center;
    flex-direction: column-reverse;
    row-gap: 30px;
    padding: 41px 20px 43px 20px;
  }
}

.addition__image {
  width: 505px;
  max-width: 100%;
  height: 270px;
  background-image: url("../../../assets/images/donation-dog.svg");
  background-repeat: no-repeat;
  background-position-y: 11px;
  transition: 0.5s;
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .addition__image {
    background-position-y: 0px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .addition__image {
    background-image: url("../../../assets/images/donation-dog.png");
    background-size: contain;
  }
}
@media screen and (max-width: 320px) {
  .addition__image {
    width: 260px;
    height: 145px;
  }
}

.addition__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: center;
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .addition__content {
    width: 380px;
    padding: 0px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .addition__content {
    gap: 23px;
  }
}

.addition__title {
  letter-spacing: 0.22rem;
  white-space: pre-line;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .addition__title {
    text-align: center;
    letter-spacing: 1.5px;
  }
}

.addition__subtitle {
  font-family: Georgia, serif;
  color: #545454;
  font-weight: 400;
  letter-spacing: 0.9px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .addition__subtitle {
    text-align: center;
    letter-spacing: 0px;
  }
}

.addition__note {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.8rem;
  line-height: 1.8rem;
  color: #B2B2B2;
  width: 362px;
  max-width: 100%;
  letter-spacing: 0.0023rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .addition__note {
    width: 100%;
    text-align: justify;
  }
}

.footer {
  padding-top: 40px;
  background-image: url("./../../../assets/images/footer-gradient-background-grid.png"), linear-gradient(90deg, #513d2f, #1a1a1c);
  background-blend-mode: multiply;
  transition: 0.5s;
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .footer {
    padding-top: 15px;
  }
}
@media screen and (min-width: 450px) and (max-width: 767px) {
  .footer {
    padding-top: 15px;
  }
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer {
    padding-top: 30px;
  }
  .footer h4 {
    font-size: 20px;
    line-height: 23px;
  }
}

.footer__wrapper {
  justify-content: center;
  column-gap: 160px;
  transition: 0.5s;
}
@media screen and (min-width: 1001px) and (max-width: 1279px) {
  .footer__wrapper {
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .footer__wrapper {
    column-gap: 60px;
    row-gap: 63px;
  }
}
@media screen and (min-width: 450px) and (max-width: 767px) {
  .footer__wrapper {
    column-gap: 60px;
    row-gap: 63px;
  }
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__wrapper {
    row-gap: 41px;
    padding: 0 10px;
  }
}

.footer__date {
  display: flex;
  flex-direction: column;
  padding-top: 17px;
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__date {
    padding-top: 0px;
  }
  .footer__date h3 {
    text-align: center;
  }
}

.footer__contacts {
  gap: 39px;
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__contacts {
    align-items: stretch;
  }
}

.footer__title {
  color: #FFFFFF;
  letter-spacing: 2px;
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__title {
    letter-spacing: 1.5px;
  }
}

.footer__title span {
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__title span {
    display: inline;
  }
}

.footer__address {
  width: 302px;
  max-width: 100%;
  gap: 32px;
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__address {
    gap: 39px;
  }
  .footer__address .footer__title {
    letter-spacing: 1.8px;
  }
}

.footer__address h3 {
  width: 91%;
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__address h3 {
    width: 100%;
  }
}

.footer__image {
  width: 300px;
  height: 310px;
  background-image: url("../../../assets/images/footer-puppy.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__image {
    width: 260px;
    height: 269px;
    background-size: contain;
    background-position-x: center;
  }
}

.footer__icon-phone {
  width: 40px;
  height: 32px;
  background-image: url("../../../assets/images/icons/icon-phone.svg");
}

.footer__icon-email {
  width: 40px;
  height: 32px;
  background-image: url("../../../assets/images/icons/icon-email.svg");
}

@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__phone {
    justify-content: center;
  }
}

.footer__phone h4 {
  letter-spacing: 0.123rem;
}

@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__e-mail {
    align-self: center;
  }
}

.footer__e-mail h4 {
  letter-spacing: 0.122rem;
}

.footer__icon-location {
  width: 22px;
  height: 32px;
  background-image: url("../../../assets/images/icons/pin.svg");
  background-repeat: no-repeat;
}

.footer__address1 {
  letter-spacing: 1.2px;
}

.footer__address1 h4 span {
  display: block;
}

.footer__address2 {
  letter-spacing: 1.2px;
}

/*# sourceMappingURL=main.css.map */
