.contacts-block {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
}

.nav {
  position: relative;
  width: 443px;
  padding-top: 15px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    min-height: 823px;
    height: 100vh;
    background-color: #FAFAFA;
    text-align: center;
    padding-top: 249px;
    transform: translateX(100%);
    transition: 1s;
  }
  .nav.hidden {
    visibility: hidden;
  }
  .nav.slide-in {
    animation: slide-in 1s forwards;
  }
  @keyframes slide-in {
    100% {
      transform: translateX(0);
    }
  }
  .nav.slide-out {
    animation: slide-out 1s forwards;
  }
  @keyframes slide-out {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav__list {
    flex-direction: column;
    gap: 41px;
  }
}

.nav__list-item {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  list-style-type: none;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav__list-item {
    line-height: 51px;
    font-size: 32px;
  }
}

.nav__list-link {
  text-decoration: none;
  color: #545454;
  transition: 0.5s;
}
.nav__list-link--active {
  color: #545454;
  border-bottom: solid 3px #F1CDB3;
  padding-bottom: 0.4rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .nav__list-link--active {
    padding-bottom: 6px;
  }
}
.nav__list-link:hover {
  color: #292929;
}

.logo__title {
  font-family: Georgia;
  color: #545454;
  letter-spacing: 0.2rem;
}

.logo__subtitle {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  color: #292929;
  letter-spacing: 1.3px;
  padding: 2px 0 0 4px;
}

.logo a {
  text-decoration: none;
}

.pet {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-color: #FAFAFA;
  width: 269px;
  height: 435px;
  cursor: pointer;
  transition: 0.5s;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pet {
    width: 270px;
    height: 435px;
  }
}

.pet:hover {
  background-color: #FFFFFF;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pet:hover .pet__button {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}

.pet__image {
  height: 270px;
  width: 270px;
}

.pet1-img {
  background-image: url("../../../assets/images/pets-katrine.png");
}

.pet2-img {
  background-image: url("../../../assets/images/pet-Jennifer.svg");
}

.pet3-img {
  background-image: url("../../../assets/images/pets-woody.svg");
}

.pet4-img {
  background-image: url("../../../assets/images/pets-sophia.svg");
}

.pet5-img {
  background-image: url("../../../assets/images/pets-timmy.svg");
}

.pet6-img {
  background-image: url("../../../assets/images/pets-charly.svg");
}

.pet7-img {
  background-image: url("../../../assets/images/pets-scarlet.svg");
}

.pet8-img {
  background-image: url("../../../assets/images/pets-freddie.svg");
}

.pet__name {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.272rem;
  letter-spacing: 1px;
  color: #545454;
}

.pet__button {
  width: 187px;
}

.button {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  color: #292929;
  letter-spacing: 1px;
  transition: 0.5s;
}
.button--bordered {
  border: 2px solid #f1cdb3;
  background-color: #FAFAFA;
}
.button:hover {
  background-color: #FDDCC4;
}

.button--colored {
  background-color: #F1CDB3;
}

.contacts-block {
  color: #F1CDB3;
  text-decoration: none;
  gap: 20px;
}

.humburger {
  display: none;
  top: 17px;
  height: 22px;
  width: 30px;
  position: relative;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .humburger {
    z-index: 1;
    top: 18px;
    display: inline-block;
  }
}

.humburger__line {
  top: calc(50% - 1px);
  left: 0;
}

.humburger:before, .humburger:after, .humburger__line {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
  border-radius: 2px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .humburger:before, .humburger:after, .humburger__line {
    background-color: #000000;
  }
}

.humburger:after {
  bottom: 0;
  left: 0;
}

@font-face {
  font-family: Arial;
  src: url("../../../assets/fonts/ArialRegular.eot");
  src: url("../../../assets/fonts/ArialRegular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/ArialRegular.woff") format("woff"), url("../../../assets/fonts/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Georgia;
  src: url("../../../assets/fonts/Georgia.eot");
  src: url("../../../assets/fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/Georgia.woff") format("woff"), url("../../../assets/fonts/Georgia.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: #E5E5E5;
  scroll-behavior: smooth;
}

body {
  overflow: visible;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  color: #F1CDB3;
}

h2 {
  font-family: Georgia;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #FFFFFF;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #545454;
  letter-spacing: 6%;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 45.5px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  h3 {
    line-height: 32.5px;
    font-size: 2.5rem;
  }
}

h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 6%;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  letter-spacing: 6%;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.shadow_on {
  position: absolute;
  width: 100%;
  min-height: 1000px;
  height: 100vh;
  content: "";
  background-color: rgba(41, 41, 41, 0.6);
}

.header {
  padding-bottom: 22px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding: 0px 10px 22px 10px;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
}

.notOnly__puppy {
  border: none;
  font-size: 0px;
}

.wrapper {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px 0 40px;
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .wrapper {
    padding: 0 30px 0 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper {
    padding: 0 10px 0 10px;
  }
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.layout-2-column > * {
  flex-basis: 49.5%;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: auto;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column > * {
  flex-basis: 20%;
}

.ourFriends {
  background-color: #F6F6F6;
  padding-bottom: 100px;
  transition: 0.5s;
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .ourFriends {
    padding-bottom: 76px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .ourFriends {
    padding-bottom: 42px;
  }
}

.wrapper__ourFriends {
  padding: 25px 0 100px 0;
}

.ourFriends__button {
  width: 261px;
  margin: 60px 0 0 430px;
}

.ourFriends__title {
  text-align: center;
  letter-spacing: 2.1px;
  padding: 8rem 0px 0 0;
  width: 524px;
  margin: 0 auto;
  white-space: pre-line;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .ourFriends__title {
    padding-top: 42px;
    max-width: 100%;
    letter-spacing: 1.2px;
  }
}

.ourFriends__slider {
  padding: 59px 0 0 0px;
  transition: 0.5s;
  overflow: hidden;
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .ourFriends__slider {
    padding-top: 29px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .ourFriends__slider {
    padding-top: 41px;
  }
}

.slider__pets {
  gap: 30px;
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .slider__pets {
    column-gap: 40px;
    row-gap: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .slider__pets {
    justify-content: center;
    row-gap: 30px;
  }
}

.slider_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

.block {
  position: relative;
  display: none;
  justify-content: center;
  animation: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.next,
.active {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
}
@media screen and (max-width: 1279px) {
  .next,
  .active {
    gap: 1.03%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .next,
  .active {
    gap: 40px;
  }
}
.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
.right_block {
  transform: translateX(100%);
}

.left_block {
  transform: translateX(-100%);
}

.to_left {
  animation: toLeft 1s forwards;
}
@keyframes toLeft {
  100% {
    transform: translateX(0%);
  }
}

.to_right {
  animation: toRight 1s forwards;
}
@keyframes toRight {
  100% {
    transform: translateX(0%);
  }
}

.slider__arrows {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 34rem;
  padding: 60px 0 0 0;
  margin: 0 auto;
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .slider__arrows {
    padding-top: 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .slider__arrows {
    width: 300px;
    padding-top: 42px;
  }
}

.slider__arrows div {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 49px;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  text-align: center;
}

.slider__arrows div h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 49px;
}

.disabled {
  transition: 0.5s;
  pointer-events: none;
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
}

.slider__arrows_number-of-page {
  color: #292929;
  background: #F1CDB3;
}

.slider__arrow {
  transition: 0.5s;
  color: #292929;
  border: 2px solid #F1CDB3;
  cursor: pointer;
}
.slider__arrow:hover {
  background-color: #FDDCC4;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .pet7,
  .pet8 {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .pet7,
  .pet8 {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .pet4,
  .pet5,
  .pet6 {
    display: none;
  }
}

.footer {
  padding-top: 40px;
  background-image: url("./../../../assets/images/footer-gradient-background-grid.png"), linear-gradient(90deg, #513d2f, #1a1a1c);
  background-blend-mode: multiply;
  transition: 0.5s;
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .footer {
    padding-top: 13px;
  }
}
@media screen and (min-width: 450px) and (max-width: 767px) {
  .footer {
    padding-top: 15px;
  }
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer {
    padding-top: 30px;
  }
  .footer h4 {
    font-size: 20px;
    line-height: 23px;
  }
}

.footer__wrapper {
  justify-content: center;
  column-gap: 160px;
  transition: 0.5s;
}
@media screen and (min-width: 1001px) and (max-width: 1279px) {
  .footer__wrapper {
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .footer__wrapper {
    column-gap: 60px;
    row-gap: 66px;
  }
}
@media screen and (min-width: 450px) and (max-width: 767px) {
  .footer__wrapper {
    column-gap: 60px;
    row-gap: 63px;
  }
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__wrapper {
    row-gap: 41px;
    padding: 0 10px;
  }
}

.footer__date {
  display: flex;
  flex-direction: column;
  padding-top: 17px;
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__date {
    padding-top: 0px;
  }
  .footer__date h3 {
    text-align: center;
  }
}

.footer__contacts {
  gap: 39px;
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__contacts {
    align-items: stretch;
  }
}

.footer__title {
  color: #FFFFFF;
  letter-spacing: 2px;
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__title {
    letter-spacing: 1.5px;
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .footer__title {
    letter-spacing: 2.2px;
  }
}

.footer__title span {
  display: block;
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__title span {
    display: inline;
  }
}

.footer__address {
  width: 302px;
  max-width: 100%;
  gap: 32px;
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__address {
    gap: 39px;
  }
  .footer__address .footer__title {
    letter-spacing: 1.8px;
  }
}

.footer__address h3 {
  width: 91%;
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__address h3 {
    width: 100%;
  }
}

.footer__image {
  width: 300px;
  height: 310px;
  background-image: url("../../../assets/images/footer-puppy.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}
@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__image {
    width: 260px;
    height: 269px;
    background-size: contain;
    background-position-x: center;
  }
}

.footer__icon-phone {
  width: 40px;
  height: 32px;
  background-image: url("../../../assets/images/icons/icon-phone.svg");
}

.footer__icon-email {
  width: 40px;
  height: 32px;
  background-image: url("../../../assets/images/icons/icon-email.svg");
}

@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__phone {
    justify-content: center;
  }
}

.footer__phone h4 {
  letter-spacing: 0.123rem;
}

@media screen and (min-width: 320px) and (max-width: 620px) {
  .footer__e-mail {
    align-self: center;
  }
}

.footer__e-mail h4 {
  letter-spacing: 0.122rem;
}

.footer__icon-location {
  width: 22px;
  height: 32px;
  background-image: url("../../../assets/images/icons/pin.svg");
  background-repeat: no-repeat;
}

.footer__address1 {
  letter-spacing: 1.2px;
}

.footer__address1 h4 span {
  display: block;
}

.footer__address2 {
  letter-spacing: 1.2px;
}

/*# sourceMappingURL=pets.css.map */
